<main>
    <form action="/artist-search" method='GET'>
        <label for=''>Artist</label>
        <input type='text' name='artist'>

        <button type='submit'>Submit</button>
    </form>
</main>