<main>
    <ul>
        {{#each items}}
        <li>
            <h3>{{this.name}}</h3>
            <audio src="{{this.preview_url}}" controls></audio>
        </li>
        {{/each}}
    </ul>
</main>